$responsive-width: 900px;

#discourse-modal {
  &.create-account, &.login-modal {
    .modal-middle-container {
      margin: 0;

      .modal-inner-container {
        margin-bottom: 0;
      }
    }

    .modal-inner-container {
      max-width: 70rem;
      border: none;
      box-shadow: none;
    }

    .modal-header {
      display: none;
    }

    .modal-body {
      max-height: initial;
      width: 100%;
      padding: 2.5%;
      position: relative;
      box-sizing: border-box;
      text-align: center;
      background-color: white;
      // opacity: 0.5;
      overflow: hidden;
    }

    .signin, .signup {
      height: 100%;
    }

    .frame {
      border: 1px solid $stroke-gray;
      position: relative;
      padding: 1rem;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
    }

    @media only screen and (max-width: $responsive-width) {
      overflow: auto;

      .modal {
        top: 0;
        left: 0;
        transform: none;
        height: 100%;
        padding: 0.75rem;
        overflow: auto;

        .frame {
          height: auto !important;
          margin-bottom: 1em;
        }
      }
    }

    .bg-logo {
      top: -121px;
      position: absolute;
      left: 0;
      right: 0;
      max-width: 160px;
      margin: 0 auto;
      background-color: #FFF;

      svg {
        width: 100%;
      }
    }

    .why-create-account {
      margin-top: 4.125rem;
      font-size: 2.25em;
      line-height: 1.33333em;
      font-style: italic;
    }

    .reasons {
      text-transform: uppercase;
    }

    .has-account-text {
      margin-top: 22px;
      // margin-bottom: 43px;
      font-weight: 400;
      display: inline-block;
      cursor: text;

      &:hover {
        color: #333;
      }

      span {
        color: $blue;
      }
    }

    .has-account-link {
      cursor: pointer;
      color: $blue;
      text-transform: uppercase;
      transition: all 300ms ease-out;
      display: inline-block;

      &:hover {
        color: scale-color($blue, $lightness: -20%);
      }
    }

    .title-text {
      margin: 48px 0 -56px 0;
      text-transform: uppercase;
    }

    .signin-options {
      width: 100%;
      margin: 1.5em 0;

      label {
        font-size: 1rem;
        float: none;
      }

      .left, .right {
        vertical-align: top;
        display: inline-block;
        width: 42.5%;
        position: relative;

        .centered {
          margin-top: 4rem;
        }
      }

      .left {
        text-align: left;
        text-transform: uppercase;

        .centered {
          margin-top: 19px;
        }

        .centered .input-wrapper {
          position: relative;

          svg {
            height: 0.75em;
            position: absolute;
            top: 18px;
            right: 20px;
          }
        }

        input:not([type='checkbox']) {
          width: 100%;
          height: auto;
          padding: 1rem 1.5rem;
          margin-bottom: 0.5rem;
          color: $dark-gray;
          font-size: 0.75rem;
          letter-spacing: 0.075em;
          line-height: normal;
          background: white;
          border-radius: 0;
          border: 1px solid $stroke-gray;
          display: block;
          box-sizing: border-box;
          box-shadow: none;
          transition: all 300ms;

          @include placeholder {
            color: $dark-gray;
            text-transform: uppercase;
          }

          &:focus {
            border: 1px solid $blue;
          }

          &#login-account-password {
            margin-bottom: 0;
          }
        }

        label {
          input {
            margin-right: 5px;
          }

          h6 {
            display: inline;
          }

          .terms-and-conditions {
            cursor: pointer;
            color: $blue;
            padding-bottom: 0.3rem;
            border-bottom: 1px solid transparent;
            transition: all 300ms ease-out;

            &:hover {
              border-bottom: 1px solid $blue;
            }
          }
        }

        a#forgot-password-link {
          font-size: .75em !important;
          line-height: 2em;
          font-weight: 400;
          float: right;
        }

        button {
          margin-top: 1.5rem;
          width: 100%;
          border: 1px solid $stroke-gray;
        }
      }

      .separator-container {
        // height: 300px;
        // width: 10%;
        // position: relative;
        // display: inline-block;

        height: 192px;
        width: 10%;
        position: relative;
        display: inline-block;
        margin-top: 63px;

        .separator {
          background: $stroke-gray;
          position: absolute;
          width: 1px;
          height: 100%;
          left: 50%;

          .text-container {
            background: white;
            position: absolute;
            top: 50%;
            right: -9px;
            height: 2.5em;
            vertical-align: middle;
            transform: translateY(-50%);
          }

          h5 {
            margin-top: 8px;
          }
        }
      }

      .right {
        text-transform: uppercase;

        .btn-social {
          width: 100%;
          height: 49px;
          margin: 0.425em 0 2rem;
          padding-left: 54px;
          position: relative;
          color: $dark-gray;
          font-family: $font-family;
          font-size: 0.875rem;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          background: $lighter-gray !important;
          border: 1px solid transparent;
          display: block;
          text-shadow: none;
          box-shadow: none;

          &:hover {
            border-color: #4acce1;
          }

          &:before {
            height: 47px;
            width: 54px;
            padding: 15px 0;
            position: absolute;
            top: 0; left: 0;
            color: white;
            font-size: 26px;
            text-align: center;
            box-sizing: border-box;
          }

          &.google_oauth2:before {
            content: "\f0d5";
            background: #F4725E;
          }

          &.facebook:before {
            background: #4ACCE1;
          }
        }

        ul {
          li {
            height: 3rem;
            width: 100%;
            background: $lighter-gray;
            border: 1px solid transparent;
            margin-bottom: 1.5rem;
            transition: all 300ms ease-out;
            text-align: left;
            cursor: pointer;

            svg {
              // width: 3rem;
              height: 100%;
              display: inline-block;
            }

            &:first-of-type img {
              background: $blue;
            }

            &:last-of-type img {
              background: $rose;
            }

            a {
              width: 100%;
              max-width: calc(100% - 3.5rem);
              padding: 0 0.5rem;
              box-sizing: border-box;
              color: #333;
              text-align: center;
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              float: right;
              font-weight: 400;
            }

            &:hover, &:focus {
              border: 1px solid $blue;
            }
          }
        }
      }

      @media only screen and (max-width: $responsive-width) {
        .left, .right, .separator-container {
          width: 100%;
          max-width: 26em;
        }

        .separator-container {
          margin-top: 4em;
          height: auto;

          .separator {
            width: 100%;
            height: 1px;
            left: 0;
          }

          .text-container {
            left: 48%;
            right: auto;
            top: auto;
            width: 2.5em;
          }
        }

      }
    }
  }

  &.login-modal {
    .signin-options .left input:not([type='checkbox']) {
      margin-bottom: 33px;
    }
  }
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  padding: 0.4em;
  cursor: pointer;
  transition: all 300ms ease-out;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
