@import 'tcon';
@import 'navigation';
@import 'menu';
@import 'modal';
@import 'index';
@import 'topic';
@import 'auth';
@import 'profile';

*:focus {
  outline: none;
}

#main header {
  margin-bottom: initial;

  &.d-header {
    height: initial;
    padding-top: initial;
    position: initial;
    top: initial; left: initial;
    background-color: transparent;
    box-shadow: none;
    z-index: initial;
  }
}

.wrap .contents {
  position: initial;
}

.badge-category-bg {
  line-height: 0.8;
  border-radius: 50%;
}

#user-card h2 {
  color: white;
}

.user-main .about .details .primary {
  h1, h2 {
    color: white;
  }
}

@media only screen and (max-width: 414px) {
  #main #main-outlet {
    padding-top: 60px;
  }
}

p, dt, dd, td {
  font-size: 0.875rem;
  line-height: 1.71429rem;
}

table.topic-list.categories a.title {
  color: $blue;

  &:hover {
    color: scale_color($blue, $lightness: -20%);
  }
}

.topic-area .topic-body.highlighted {
  background-color: dark-light-diff($blue, $light-blue, 85%, -65%);
}

#main {
  .alert.alert-info {
    background-color: $light-blue;
  }

  .btn-primary {
    background-color: $blue;

    &:hover {
      background-color: scale_color($blue, $lightness: -20%);
    }
  }
}

// Cookie notification styles
@media screen and (min-width: 500px) {
  body .cc_container {
    right: initial; left: 20px;
  }
}

body {
  .cc_banner-wrapper {
    z-index: 2147483647;
  }

  .cc_container .cc_btn, .cc_container .cc_btn:visited {
    padding: 0.9em 2em;
    display: inline-block;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    color: $button-color;
    background-color: $button-background-color;
    border: $button-border;
    border: $button-border solid $button-border-color;
    border-radius: 0; //$round-edges;
    transition: all 300ms ease-out;
    user-select: none;
    cursor: pointer;
    outline: none;
    text-align: center;

    &:hover {
      color: $button-color-hover;
      background-color: $button-background-color-hover;
      border: $button-border solid $button-border-color-hover;
    }
  }
}

// body {
//   background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
//   background-size: 100%;
//   background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0,0,0,0.5)),color-stop(5%, rgba(0,0,0,0)));
//   background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.5) 5%,rgba(0,0,0,0) 5%);
//   background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5) 5%,rgba(0,0,0,0) 5%);
//   background-image: linear-gradient(to top, rgba(0,0,0,0.5) 5%,rgba(0,0,0,0) 5%);
//   -moz-background-size: 100% 1.5em;
//   -o-background-size: 100% 1.5em;
//   -webkit-background-size: 100% 1.5em;
//   background-size: 100% 1.5em;
//   background-position: left top;
// }
