@import 'tcon';
@import 'navigation';
@import 'menu';
@import 'modal';
@import 'index';
@import 'topic';
@import 'auth';
@import 'profile';

*:focus {
  outline: none;
}

#main header {
  margin-bottom: initial;

  &.d-header {
    height: initial;
    padding-top: initial;
    position: initial;
    top: initial; left: initial;
    background-color: transparent;
    box-shadow: none;
    z-index: initial;
  }
}

.wrap .contents {
  position: initial;
}

.badge-category-bg {
  line-height: 0.8;
  border-radius: 50%;
}

#user-card h2 {
  color: white;
}

.user-main .about .details .primary {
  h1, h2 {
    color: white;
  }
}

@media only screen and (max-width: 414px) {
  #main #main-outlet {
    padding-top: 60px;
  }
}

p, dt, dd, td {
  font-size: 0.875rem;
  line-height: 1.71429rem;
}


// body {
//   background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
//   background-size: 100%;
//   background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0,0,0,0.5)),color-stop(5%, rgba(0,0,0,0)));
//   background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.5) 5%,rgba(0,0,0,0) 5%);
//   background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5) 5%,rgba(0,0,0,0) 5%);
//   background-image: linear-gradient(to top, rgba(0,0,0,0.5) 5%,rgba(0,0,0,0) 5%);
//   -moz-background-size: 100% 1.5em;
//   -o-background-size: 100% 1.5em;
//   -webkit-background-size: 100% 1.5em;
//   background-size: 100% 1.5em;
//   background-position: left top;
// }
