@import 'tcon';
@import 'navigation';
@import 'menu';
@import 'modal';
@import 'index';
@import 'topic';

*:focus {
  outline: none;
}

#main header {
  margin-bottom: initial;

  &.d-header {
    height: initial;
    padding-top: initial;
    position: initial;
    top: initial; left: initial;
    background-color: transparent;
    box-shadow: none;
    z-index: initial;
  }
}

.wrap .contents {
  position: initial;
}

.badge-category-bg {
  line-height: 0.8;
  border-radius: 50%;
}
