#main {
  .wrap {
    max-width: 1200px;
  }

  #main-outlet {
    padding-top: 132px;
  }

  h5 {
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.75em;
    display: inline-block;
  }

  .category-breadcrumb {
    a.badge-category {
      color: $medium-gray !important;
      background-color: transparent !important;
      text-transform:capitalize;

      &:hover {
        color: scale_color($medium-gray, $lightness: 20%) !important;
      }

      svg {
        width: 7px;
        vertical-align: middle;
        transition: transform 250ms;

        &.caret-down {
          transform: rotate(90deg);
        }
      }
    }
  }

  .nav-pills {
    float: none;
    display: inline-block;
    vertical-align: sub;

    li {
      margin-right: 0;
      float: none;
      display: inline-block;
      vertical-align: middle;
    }

    > li.active > a {
      background-color: $stroke-gray;
    }

    a {
      padding: 2px 24px 0px;
      color: $medium-gray;
      font-size: .66667em !important;
      text-transform: uppercase;
      border-radius: 24px;

      &:hover {
        color: scale_color($medium-gray, $lightness: 20%) !important;
        background-color: scale_color($stroke-gray, $lightness: 50%);
      }
    }
  }

  a#create-topic {
    margin: 0;
    color: $medium-gray;
    background: transparent;
    text-transform: uppercase;

    &:hover {
      color: scale_color($medium-gray, $lightness: 20%);
      background: transparent;
    }
  }

  .topic-list th {
    color: $medium-gray;
    letter-spacing: 0.075em;
    text-transform: uppercase;

    svg {
      max-width: 8px;
      vertical-align: middle;
      transition: transform 300ms;

      &.chevron-down {
        transform: rotate(90deg);
      }

      &.chevron-up {
        transform: rotate(-90deg);
      }
    }
  }

  .topic-list td {
    color: #999999;
  }

  .topic-list .sortable:hover {
    background-color: $light-gray;
  }

  .topic-list-item .category {
    a {
      text-transform: uppercase;

      .badge-category-bg {
        line-height: 0.75;
        border-radius: 50%;
      }

      span.badge-category {
        color: $medium-gray !important;

        &:hover {
          color: scale_color($medium-gray, $lightness: 20%) !important;
        }
      }
    }
  }

  .badge-posts[href] {
    color: $medium-gray;
  }

  .topic-list-bottom {
    p {
      font-size: 0.875em;
      line-height: 1.71429em;
    }
  }
}
