{{bread-crumbs categories=categories}}

{{navigation-bar navItems=navItems filterMode=filterMode}}

{{#if canCreateTopic}}
  <a href="#" id="create-topic" class='btn btn-default' {{action "createTopic"}}>{{i18n 'topic.create'}}</a>
{{/if}}
