.lezaypedia-terms-form {
  margin-top: 4.5em;

  .submit-button {
    top: 24px !important;
  }

  label {
    margin-bottom: 1.4375rem;
  }

  .terms {
    min-width: 45%;
    margin-bottom: 1.8125rem;
  }

  textarea {
    min-width: 48.6%;
    min-height: 9.75em;
  }
}
